@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#scroll-container {
  overflow: hidden;
}

body {
  cursor: default !important;
}

a,
button,
input,
textarea,
select,
label {
  cursor: pointer !important;
}

.react-animated-cursor {
  pointer-events: none;
}
